<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- <script type="text/javascript" src="jquery.min.js"></script> -->
</head>
<body>
        {% include 'header.html' %} 
<div style="">

<p>　　萌妹子网是个图片共享平台，站内所有素材图片由网友上传而来，萌妹子网不具备此类图片的版权，使用上述图片时请遵循相关法律法规。萌妹子网作为网络服务提供者，对非法转载，盗版行为的发生不具备充分的监控能力。但是当版权拥有者提出侵权指控并出示充分的版权证明材料时，萌妹子网负有移除盗版和非法转载作品以及停止继续传播的义务。</p>
<p>　　萌妹子网对他人在网站上实施的此类侵权行为不承担法律责任，侵权的法律责任概由会员本人承担。向萌妹子网发布作品的作者视为同意萌妹子网就前款情况采取的相应措施。萌妹子网在满足前款条件下采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任，包括不承担因侵权指控不成立而给原发布人带来损害的赔偿责任。</p>
        <p>　　萌妹子网内的素材是由网友上传用于学习交流之用，请复制、下载者遵循国家相关法律、法规，在未获得版权拥有者授权之前，勿作它用；如因非法使用引起纠纷，一切后果由使用者承担。</p>
</div>
</body>
</html>