
{% include 'header.html' %} 


<div class="jq22-container"  >
	
		<div class="jq22-content bgcolor-3">
			<div class='sangar-slideshow-container' id='sangar-example3'>
				<div class='sangar-content-wrapper' style='display:none;'>	
						{% for i in wheel %}		
					<div class='sangar-content'><img src="{{STATIC_URL }}/static/{{i.fm_img.img_file}}" /></div>
					{%endfor%} 
				</div>
			</div>	
		</div>

	</div>






<!-- <br><br><br> -->

<div class="pagination" style="width:100%;text-align:center;">
	<nav aria-label="Page navigation">
		<ul class="pagination">
		
			<li>
					{% if articles.has_previous %}
			<a href="?page={{ articles.previous_page_number }}&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">上一页</span></a>
		{% endif %}
			</li>
	
			<li>
				{% if articles.has_next %}
				<a href="?page={{ articles.next_page_number }}&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">下一页</span></a>
			{% endif %}
			</li>
		</ul>
	</nav>
</div>




<ul class="nav nav-pills"style='width:95%;margin:0 auto;'>
		<li role="presentation"  class="active"><a href="/?type=xinggan" style='background-color: #ff4466;'>全部套图</a></li>
		<li role="presentation"  class=""><a href="/hot_art" style=''>热门推荐</a></li>
		<li role="presentation"  class=""><a href="/random_img" style=''>随机匹配</a></li>
		<!-- {% for i in classify2%}
		<li role="presentation"><a href="" style='color:#ff4466;'>{{i.title}}</a></li>
	{%endfor%} -->
		</ul>
		
	  <br><br><br>
	<div class="container-fluid">
		<div class="row fh5co-post-entry" >
			{% for i in articles %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="/single?page={{i.id}}"><img src="{{STATIC_URL }}/static/{{i.fm_img.img_file}}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="/single?page={{i.id}}">{{i.classify.title}}</a></span>
				<h2 class="fh5co-article-title" ><a href="/single?page={{i.id}}" style='color:#ff4466;'>{{i.title}}</a></h2>
				<span class="fh5co-meta fh5co-date">{{i.time|date:"Y-m-d"}}  &nbsp;&nbsp;&nbsp;
					<i class="layui-icon layui-icon-user"></i>&nbsp;{{i.visit_num}}次浏览 </span>
			</article>
		{%endfor%}
		</div>
	</div>


	




	<div class="pagination" style="width:100%;text-align:center;">
		<nav aria-label="Page navigation">
			<ul class="pagination">
			
				<li>
						{% if articles.has_previous %}
				<a href="?page={{ articles.previous_page_number }}&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">上一页</span></a>
			{% endif %}
				</li>
				<li>
				
				<a href="?page=1&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">首页</span></a>
	

				</li>
				{%if articles.number > 2 %}
				<li><a href="?page={{ articles.number |add:-2 }}&&type=xinggan"> {{ articles.number |add:-2 }}</a></li>
				{%endif%}
				{%if articles.number > 1 %}
				<li><a href="?page={{ articles.number |add:-1 }}&&type=xinggan"> {{ articles.number |add:-1 }}</a></li>
				{%endif%}
				<li><a href="#">第 {{ articles.number }} 页</a></li>
				{%if articles.number <  articles.paginator.num_pages|add:-1  %}
				<li><a href="?page={{ articles.number |add:1 }}&&type=xinggan"> {{ articles.number |add:1 }}</a></li>
				{%endif%}
				{%if articles.number <  articles.paginator.num_pages|add:-2 %}
				<li><a href="?page={{articles.number |add:2 }}&&type=xinggan"> {{ articles.number |add:2 }}</a></li>
				{%endif%}
				<li>
				<a href="?page={{ articles.paginator.num_pages }}&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">尾页(共{{ articles.paginator.num_pages }}页)</span></a>
				</li>
				<li>
					{% if articles.has_next %}
					<a href="?page={{ articles.next_page_number }}&&type=xinggan"  aria-label="Previous"><span aria-hidden="true">下一页</span></a>
				{% endif %}
				</li>
			</ul>
		</nav>
	</div>



{% include 'footer.html' %}

	


	</body>

	<script>
			layui.use(['carousel', 'form'], function(){
			  var carousel = layui.carousel
			  ,form = layui.form;
			
			  //图片轮播
			  carousel.render({
				elem: '#test1'
				,width: '100%'
				,height: '840px'
				,interval: 5000
			  });


			});
	
			layui.use('element', function(){
			  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
			  //监听导航点击
			  element.on('nav(demo)', function(elem){
				//console.log(elem)
				layer.msg(elem.text());
			  });
			});
			</script>



<!-- 轮播图 -->
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/imagesloaded.min.js"></script>
	<!-- jQuery Sangar Slider -->
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarBaseClass.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSetupLayout.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSizeAndScale.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarShift.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSetupBulletNav.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSetupNavigation.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSetupSwipeTouch.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarSetupTimer.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarBeforeAfter.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarLock.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarResponsiveClass.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarResetSlider.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider/sangarTextbox.js"></script>
	<script type="text/javascript" src="{{STATIC_URL }}/static/luobo_re/assets/js/sangarSlider.js"></script>
	<script type='text/javascript'>
		
				jQuery(document).ready(function($) {
				/**
				 * identifier variable must be unique ID
				 */
				var sangar = $('#sangar-example3').sangarSlider({
					timer :  true, // true or false to have the timer
					advanceSpeed:3000,
			        pagination : 'content-horizontal', // bullet, content, none
					paginationContent : [
					{% for i in wheel %}
	   "{{STATIC_URL }}/static/{{i.fm_img.img_file}}",
	   {%endfor%}		
					], // can be text, image, or something			        
			        paginationContentType : 'image', // text, image
			        paginationContentWidth : 120, // pagination content width in pixel
			        paginationImageHeight : 160, // pagination image height
			        width : 850, // slideshow width
        			height : 1000, // slideshow height
			        fixedHeight: true,
			        scaleSlide : true // slider will scale to the container size
				});


			})		
	</script>


</html>

